body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

canvas {
  position: static;
  margin-top: 50px;
}

.container {
  text-align: center;

  padding-top: 100px;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 5rem;
  cursor: pointer;
  padding: 0 0.07em;

}

h1:hover {
  color: black;
}

button {
  --c: rgb(255, 255, 255);
  line-height: 1.2em;
  background: conic-gradient(from -135deg at 100% 50%, #fff 90deg, rgba(255, 255, 255, 0) 0) 0 var(--p, 0%),
      conic-gradient(from -135deg at 1.2em 50%, rgba(255, 255, 255, 0) 90deg, #fff 0) 100% var(--p, 0%),
      var(--c);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: var(--s, 0%) 200%;
  background-repeat: no-repeat;
  color: transparent;
  position: relative;
  transition: 0.4s ease-in, background-position 0s;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, rgba(255, 255, 255, 0) 0) 0 var(--p, 0%),
      conic-gradient(from -135deg at 1.2em 50%, rgb(255, 255, 255) 90deg, var(--c) 0) 100% var(--p, 0%);
  background-size: inherit;
  background-repeat: no-repeat;

}

button:hover {
  --p: 100%;
  /* it should be .6em (1.2em/2) but we use a litte bigger to avoid gaps */
  --s: calc(100% + 0.61em);

  text-decoration-color: #000;
}

button {
  font-family: system-ui, sans-serif;
  font-size: 5rem;
  cursor: pointer;
  padding: 0 0.07em;
}